config TDX_HOST_SERVICES
	tristate
	depends on INTEL_TDX_HOST
	select FW_LOADER
	select FW_UPLOAD
	default m

config TDX_CONNECT
	def_bool y
	depends on TDX_HOST_SERVICES
	depends on PCI_TSM
	depends on INTEL_IOMMU
